@media (min-width: 768px) {
    nav {
        display: block !important;
    }
}

nav.mobile {
    padding: 1rem 0 0;
    border-bottom: 1px solid gray("200");
}

.pc-group {
    padding-bottom: 0.5rem;
    .nav-item {
        a {
            color: gray("600");
            font-size: 14px;
            &:hover {
                color: #feee;
            }
        }
    }
}

.pc-group-heading {
    display: block;
    padding-bottom: 0.5rem;
    font-weight: 400;
}

a {
    color: darken( #fee, 10%);
    &:hover {
        transition: color 0.25s;
        color: theme-color("primary");
    }
}
