<footer>
  <div class="meta-top">
    <h5>
      <a class="nav-link" href="http://pioneercode.com">
        Pioneer Code *
      </a>
    </h5>
    <ul class="nav justify-content-center pages">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" [ngClass]="{'active': pcacService.currentMainRoute === 'home'}" (click)="pcacService.currentMainRoute = 'home'">
          Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/get-started" [ngClass]="{'active': pcacService.currentMainRoute === 'get-started'}" (click)="pcacService.currentMainRoute = 'get-started'">
          Get Started
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/bar-chart" [ngClass]="{'active': pcacService.currentMainRoute === 'charts'}" (click)="pcacService.currentMainRoute = 'charts'">
          Chart
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/demo" [ngClass]="{'active': pcacService.currentMainRoute === 'demo'}" (click)="pcacService.currentMainRoute = 'demo'">
          Demo
        </a>
      </li>
    </ul>
    <ul class="nav justify-content-center social">
      <li class="nav-item">
        <a href="https://github.com/PioneerCode/pioneer-charts" class="nav-link">
          <i class="fa fa-github fa-2x"></i>
        </a>
      </li>
      <li class="nav-item">
        <a href="https://twitter.com/chad_ramos" class="nav-link">
          <i class="fa fa-twitter fa-2x"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="meta-bottom clearfix">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm">
          <p class="float-left">
            Version: {{version}}
          </p>
          <p class="float-right">
            Develop by
            <a href="https://twitter.com/chad_ramos" alt="Chad Ramos">Chad Ramos</a> @
            <a href="https://pioneercode.com" alt="Pioneer Code">Pioneer Code</a> ©2018. Code and Docs licensed under an
            <a href="https://github.com/PioneerCode/pioneer-charts/blob/master/LICENSE" alt="Pioneer Charts License">MIT-style License</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
