@import "../../../imports";
header {
    position: relative;
    background: theme-color("primary");
    padding: 6rem 0 6rem;
    text-align: center;
    color: theme-color-level("primary", -12);
    margin: 0 0 4rem;
    button {
        margin: 3rem 0 0;
    }
    svg {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
    }
}


h4 {
    font-weight: 400;
    margin-bottom: 1rem;
}

.bullets {
    padding: 4rem 0 6rem;
    text-align: center;
    border-bottom: 1px solid gray("200");
    a {
        color: darken( theme-color("primary-light"), 10%);
        &:hover {
            transition: color 0.25s;
            color: theme-color("primary");
        }
    }
    i {
        margin: 0 0 1rem;
        font-size: 4rem;
        color: theme-color("primary-light");
    }
    h3 {
        font-size: 1.2rem;
        font-weight: 500;
        margin: 0 0 1rem;
    }
    p {
        font-size: 14px;
    }
}

section.easy {
    padding: 3rem 0 6rem;
    h2 {
        text-align: center;
        margin: 1.5rem;
    }
    p.lead {
        text-align: center;
        margin: 0 0 6rem;
    }
}

.bullet {
    padding: 0 1rem;
}

.bullet-left {
    padding: 0 1rem 0 0;
}

.bullet-right {
    padding: 0 0 0 1rem;
}

.bullet-bottom {
    padding: 0 0 6rem;
}
