<pc-page-header [title]="'Line Area Chart'"></pc-page-header>
<div class="container-fluid">
  <div class="row pc-row">
    <div class="col-sm">
      <div class="pc-chart-container">
        <pcac-header [config]="pcacService.lineChartConfig?.headerConfig"></pcac-header>
        <pcac-line-area-chart [config]="pcacService.lineChartConfig"></pcac-line-area-chart>
      </div>
    </div>
    <div class="col-sm">
      <div class="pc-chart-container">
        <pcac-header [config]="pcacService.areaChartConfig?.headerConfig"></pcac-header>
        <pcac-line-area-chart [config]="pcacService.areaChartConfig"></pcac-line-area-chart>
      </div>
    </div>
  </div>
</div>
