<pc-page-header [title]="'Line Area Chart'"></pc-page-header>
<div class="container-fluid">
  <div class="row pc-row">
    <div class="col-sm">
      <div class="pc-chart-container">
        <pcac-header [config]="pcacService.lineChartConfig?.headerConfig"></pcac-header>
        <pcac-line-area-chart [config]="pcacService.lineChartConfig"></pcac-line-area-chart>
      </div>
    </div>
    <div class="col-sm">
      <div class="pc-chart-container">
        <pcac-header [config]="pcacService.areaChartConfig?.headerConfig"></pcac-header>
        <pcac-line-area-chart [config]="pcacService.areaChartConfig"></pcac-line-area-chart>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row pc-row">
    <div class="col-sm">
      <h3>Markup</h3>
      <pc-prism language="markup" [code]="markupCode"></pc-prism>
      <h3>API</h3>
      <pc-prism language="javascript" [code]="importCode"></pc-prism>
      <h6>Configuration</h6>
      <pcac-table [config]="getConfig()" class="pc-table"></pcac-table>
    </div>
  </div>
</div>
