@import 'imports';
@import '../../../projects/pcac/src/lib/pcac';
$fa-font-path: "./assets/fonts" !default;
@import '../../../node_modules/font-awesome/scss/font-awesome.scss';
.pc-chart-container {
    padding: 1rem;
    background: color("white");
    box-shadow: 0.25rem 0.25rem 0.5rem gray("200");
    border: 1px solid gray("200");
}

.pc-page-content {
    background: gray("200");
    padding: 2rem 2rem;
}

body {
    margin: 0;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

.row {
    margin: 0 0 1rem;
}
