// @import "../../../imports";
// @media (min-width: 768px) {
//     .pc-header {
//         position: sticky;
//         top: 0;
//         z-index: 2000;
//     }
// }

// .pc-header {
//     background: theme-color("primary");
//     .pc-header-brand {
//         padding: 1rem 1rem 1rem 2rem;
//         color: theme-color-level("primary", -12);
//     }
//     .pc-header-content {
//         padding: 0.5rem 1rem;
//         a {
//             color: $body-bg;
//             div {
//                 padding-right: 1rem;
//             }
//             &:hover {
//                 transition: all 0.25s;
//                 color: theme-color("primary-light");
//             }
//         }
//     }
// }
