<mat-sidenav-container autosize class="d-flex flex-column flex-grow-1 h-100">
  <mat-sidenav class="flex-grow-1" [mode]="isMobile  ? 'over' : 'side'" [fixedInViewport]="isMobile" [opened]="true">
    <nav class="flex-grow-1">
      <div>
        <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
          Home
        </a>
      </div>
      <div>
        <a routerLink="/docs/guides/introduction" routerLinkActive="active" ariaCurrentWhenActive="page">
          Documentation
        </a>
      </div>
      <div>
        <a routerLink="/charts" routerLinkActive="active" ariaCurrentWhenActive="page">
          Charts
        </a>
      </div>
      <div>
        <a href="https://github.com/PioneerCode/pioneer-charts" mat-fab
          aria-label="Github">
          <mat-icon>code</mat-icon>
        </a>
      </div>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content class="h-100 d-flex flex-column">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>