blockquote {
    line-height: 1.6;
    color: var(--mat-sys-on-surface-variant);
    margin: 0 0 1rem;
    padding: 0.5625rem 1.25rem 0 1.1875rem;
    border-left: 1px solid var(--mat-sys-outline-variant);
    font-size: 1rem;
    footer {
        display: block;
        font-size: 0.8125rem;
        color: var(--mat-sys-on-surface-variant);
    }
}
