/* You can add global styles to this file, and also import other style files */
$fa-font-path: "./assets/fonts" !default;

@import 'imports';
@import '../../../libs/pcac/pcac';
@import '../../../node_modules/font-awesome/scss/font-awesome.scss';

.logo-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
}

.pc-chart-container {
    padding: 1rem;
    background: color("white");
    box-shadow: 10px 0px 2rem -12px rgba(90, 87, 87, 0.75);
}

.pc-page-content {
  background: gray("200");
  padding: 2rem 2rem;
}

.pc-table {
  background: color("white");
  display: block;
}
.pc-row {
  margin-bottom: 2rem;
}
