/* You can add global styles to this file, and also import other style files */
@import 'imports';
@import 'variables';
@import '../../../libs/pcac/pcac';

body {
  background: gray("200");
}

main {
  padding: 1rem 0 1rem;
}

header {
  height: 4rem;
  background: color("white");
}

.pcac-chart-container {
  padding: 1rem;
  background: color("white");
  box-shadow: 10px 0px 2rem -12px rgba(90, 87, 87, 0.75);
}
