@import "../../../../imports";
.pc-doc-sidebar {
    padding-top: 2rem;
    height: calc(100vh - 56px);
    position: sticky;
    top: 56px;
    overflow-y: auto;
}

.pc-doc-content {
    border-left: 1px gray("200") solid;
    padding-top: 2rem;
}

.pc-group {
    padding-bottom: 0.5rem;
    .nav-item {
        a {
            color: gray("600");
            font-size: 14px;
            &:hover {
                color: theme-color("primary-light");
            }
        }
    }
}

.pc-group-heading {
    display: block;
    padding-bottom: 0.5rem;
    font-weight: 400;
}
