@import "../../../../imports";
@media (min-width: 768px) {
    .pc-doc-sidebar {
        padding-top: 2rem;
        height: calc(100vh - 56px);
        position: sticky;
        top: 56px;
        overflow-y: auto;
    }
}

.pc-doc-content {
    border-left: 1px gray("200") solid;
    padding-top: 2rem;
}

