<section class="pc-page-content">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <pc-page-header [title]="'Get Started'"></pc-page-header>
        <h3 id="step-1-install-pioneer-charts">Step 1: Install Pioneer Charts</h3>
        <h5 id="npm">NPM</h5>
        <pc-prism language="bash" [code]="npmInstallCode"></pc-prism>
        <pre></pre>
        <h5 id="yarn">Yarn</h5>
        <pc-prism language="bash" [code]="yarnInstallCode"></pc-prism>
        <h3 id="step-2-import-modules">Step 2: Import Component Modules</h3>
      </div>
    </div>
  </div>
</section>
