<!-- <div class="pc-chart-container">
  <pcac-pie-chart [config]="pcService.pieChartConfig" (sliceClicked)="pcService.onClicked($event)"></pcac-pie-chart>
</div>
<div class="pc-chart-container">
  <pcac-bar-vertical-chart [config]="pcService.barVerticalChartSingleConfig"
    (barClicked)="pcService.onClicked($event)"></pcac-bar-vertical-chart>
</div>
<div class="pc-chart-container">
  <pcac-bar-vertical-chart [config]="pcService.barVerticalChartGroupConfig"
    (barClicked)="pcService.onClicked($event)"></pcac-bar-vertical-chart>
</div>
<div class="pc-chart-container">
  <pcac-bar-vertical-chart [config]="pcService.barVerticalChartStackedConfig"
    (barClicked)="pcService.onClicked($event)"></pcac-bar-vertical-chart>
</div>
<div class="pc-chart-container">
  <pcac-bar-vertical-chart [config]="pcService.barVerticalChartConfig"
    (barClicked)="pcService.onClicked($event)"></pcac-bar-vertical-chart>
</div>
<div class="pc-chart-container">
  <pcac-bar-horizontal-chart [config]="pcService.barHorizontalChartSingleConfig"
    (barClicked)="pcService.onClicked($event)"></pcac-bar-horizontal-chart>
</div>
<div class="pc-chart-container">
  <pcac-bar-horizontal-chart [config]="pcService.barHorizontalChartGroupConfig"
    (barClicked)="pcService.onClicked($event)"></pcac-bar-horizontal-chart>
</div>
 <div class="pc-chart-container">
  <pcac-bar-horizontal-chart [config]="pcService.barHorizontalChartStackedConfig"
    (barClicked)="pcService.onClicked($event)"></pcac-bar-horizontal-chart>
</div>
<div class="pc-chart-container">
  <pcac-bar-horizontal-chart [config]="pcService.barHorizontalChartConfig"
    (barClicked)="pcService.onClicked($event)"></pcac-bar-horizontal-chart>
</div> -->
<div class="pc-chart-container">
  <pcac-line-area-chart [config]="pcService.lineChartConfig"
    (dotClicked)="pcService.onClicked($event)"></pcac-line-area-chart>
</div>
<div class="pc-chart-container">
  <pcac-line-area-chart [config]="pcService.areaChartConfig"
    (dotClicked)="pcService.onClicked($event)"></pcac-line-area-chart>
</div>
<div class="pc-chart-container">
  <pcac-line-area-chart [config]="pcService.areaChartHideConfig"
    (dotClicked)="pcService.onClicked($event)"></pcac-line-area-chart>
</div>
