blockquote {
    line-height: 1.6;
    color: #8a8a8a;
    margin: 0 0 1rem;
    padding: 0.5625rem 1.25rem 0 1.1875rem;
    border-left: 1px solid #cacaca;
    font-size: 1rem;
    footer {
        display: block;
        font-size: 0.8125rem;
        color: #8a8a8a;
    }
}
