@use "tailwindcss";
@use 'theme';

@use "../../pioneer-charts/colors.scss";


@layer base {

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 1rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
  }

  ul {
    padding: 0 0 1rem 1.25rem;
    list-style-type: disc;
  }
}



body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;

  background-color: colors.$primary;
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}



.pc-table {
  min-width: 100%;
  border: 0;
  border-spacing: 0;
  table-layout: auto;

  white-space: normal;

  tr {
    height: 56px;

    th {
      color: rgba(0, 0, 0, 0.87);
      text-align: left;
      font-weight: 500;
      padding: 16px;
      line-height: 20px;
      font-size: 14px;
      border-bottom: 1px solid #74777f;
    }

    td {
      padding: 16px;
      font-size: 14px;
      border-bottom: 1px solid #74777f;
    }
  }

  ul {
    padding-bottom: 0;
  }
}

.pc-doc-section {
  margin-bottom: 2rem;
}