<section class="charts-content">
  <div class="container-fluid">
    <div class="row pc-row">
      <div class="col-sm">
        <div class="pc-chart-container">
          <pcac-header [config]="{'title':'Vertical Grouped'}"></pcac-header>
          <pcac-bar-vertical-chart [config]="pcService.barVerticalChartGroupConfig"></pcac-bar-vertical-chart>
        </div>
      </div>
      <div class="col-sm">
        <div class="pc-chart-container">
          <pcac-header [config]="{'title':'Vertical Stacked'}"></pcac-header>
          <pcac-bar-vertical-chart [config]="pcService.barVerticalChartStackedConfig"></pcac-bar-vertical-chart>
        </div>
      </div>
      <div class="col-sm">
        <div class="pc-chart-container">
          <pcac-header [config]="{'title':'Bar Horizontal Chart'}"></pcac-header>
          <pcac-bar-vertical-chart [config]="pcService.barVerticalChartConfig"></pcac-bar-vertical-chart>
        </div>
      </div>
    </div>
    <div class="row pc-row">
      <div class="col-sm">
        <div class="pc-chart-container">
          <pcac-header [config]="{'title':'Horizontal Stacked'}"></pcac-header>
          <pcac-bar-horizontal-chart [config]="pcService.barHorizontalChartStackedConfig"></pcac-bar-horizontal-chart>
        </div>
      </div>
      <div class="col-sm">
        <div class="pc-chart-container">
          <pcac-header [config]="{'title':'Horizontal Grouped'}"></pcac-header>
          <pcac-bar-horizontal-chart [config]="pcService.barHorizontalChartGroupConfig"></pcac-bar-horizontal-chart>
        </div>
      </div>
      <div class="col-sm">
        <div class="pc-chart-container">
          <pcac-header [config]="{'title':'Bar Vertical Chart'}"></pcac-header>
          <pcac-bar-horizontal-chart [config]="pcService.barHorizontalChartConfig"></pcac-bar-horizontal-chart>
        </div>
      </div>
    </div>
    <div class="row pc-row">
      <div class="col-sm">
        <div class="pc-chart-container">
          <pcac-header [config]="{'title':'Line Chart'}"></pcac-header>
          <pcac-line-area-chart [config]="pcService.lineChartConfig"></pcac-line-area-chart>
        </div>
      </div>
      <div class="col-sm">
        <div class="pc-chart-container">
          <pcac-header [config]="{'title':'Area Chart'}"></pcac-header>
          <pcac-line-area-chart [config]="pcService.areaChartConfig"></pcac-line-area-chart>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <div class="pc-chart-container">
          <pcac-header [config]="{'title':'Table'}"></pcac-header>
          <pcac-table [config]="pcService.tableConfig"></pcac-table>
        </div>
      </div>
      <div class="col-sm">
        <div class="pc-chart-container">
          <pcac-header [config]="{'title':'Pie Chart'}"></pcac-header>
          <pcac-pie-chart [config]="pcService.pieChartConfig"></pcac-pie-chart>
        </div>
      </div>
    </div>
  </div>
</section>
