<header>
</header>
<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm">
        <div class="pcac-chart-container">
          <pcac-bar-chart [config]="barChartConfig"></pcac-bar-chart>
        </div>
      </div>
      <div class="col-sm">
        <div class="pcac-chart-container">
          <pcac-table [config]="tableConfig"></pcac-table>
        </div>
      </div>
      <div class="col-sm">
        <div class="pcac-chart-container">
          <pcac-line-area-chart [config]="ILineAreaChartConfig"></pcac-line-area-chart>
        </div>
      </div>
    </div>
  </div>
</main>
