<header>
</header>
<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm">
        <div class="pc-chart-container">
          <pc-bar-chart></pc-bar-chart>
        </div>
      </div>
      <div class="col-sm">
        <div class="pc-chart-container">
          <pc-table></pc-table>
        </div>
      </div>
      <div class="col-sm">
        <div class="pc-chart-container">
          <pc-line-area-chart></pc-line-area-chart>
        </div>
      </div>
    </div>
  </div>
</main>
