<nav class="navbar fixed-top navbar-expand-lg navbar-dark">

  <a class="navbar-brand" href="http://charts.pioneercode.com" title="Pioneer Charts">
    <div class="logo-icon">
      <svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 208.7 161.3" xml:space="preserve">
        <polygon style="fill:#fff;" points="122.2,7.6 122.5,7.6 200.3,161.2 207.6,161.2 125.9,0.3 118.8,0.3 82.7,71.5 67.8,42.2 60.8,42.2 0.4,161.2
          7.7,161.2 64.1,49.5 64.5,49.5 79.2,78.5 37.2,161.2 44.5,161.2 82.7,85.6 98.7,117.2 76.3,161.2 83.6,161.2 102.3,124.3
          120.9,161.2 128.2,161.2 105.8,117.2 122.3,84.6 122.7,84.6 161.4,161.2 168.6,161.2 126,77.3 118.9,77.3 102.3,110.2 86.3,78.6 "
        />
      </svg>
    </div>
    Pioneer Charts
    <!-- <img src="assets/logo.svg" class="logo-icon" /> -->
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mr-auto mt-2 mt-lg-0">
      <a class="nav-link" routerLink="/" [ngClass]="{'active': pcacService.currentMainRoute === 'home'}" (click)="pcacService.currentMainRoute = 'home'">
        Home
      </a>
      <a class="nav-link" routerLink="/guides/get-started" [ngClass]="{'active': pcacService.currentMainRoute === 'get-started'}"
        (click)="pcacService.currentMainRoute = 'get-started'">
        Get Started
      </a>
      <a class="nav-link" routerLink="/components/charts/bar-chart" [ngClass]="{'active': pcacService.currentMainRoute === 'charts'}"
        (click)="pcacService.currentMainRoute = 'charts'">
        Chart
      </a>
      <a class="nav-link" routerLink="/demo" [ngClass]="{'active': pcacService.currentMainRoute === 'demo'}" (click)="pcacService.currentMainRoute = 'demo'">
        Demo
      </a>
    </div>
    <div class=" navbar-nav my-2 my-lg-0">
      <a class="nav-link clearfix" href="https://github.com/PioneerCode/pioneer-charts">
        <i class="fa fa-github"></i>
        GitHub
      </a>
    </div>
  </div>
</nav>
