<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="#">Pioneer Code</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mr-auto mt-2 mt-lg-0">
      <a class="nav-link" routerLink="/home" [ngClass]="{'active': pcacService.currentMainRoute === 'home'}" (click)="pcacService.currentMainRoute = 'home'">
        Home
      </a>
      <a class="nav-link" routerLink="/get-started" [ngClass]="{'active': pcacService.currentMainRoute === 'get-started'}" (click)="pcacService.currentMainRoute = 'get-started'">
        Get Started
      </a>
      <a class="nav-link" routerLink="/bar-chart" [ngClass]="{'active': pcacService.currentMainRoute === 'charts'}" (click)="pcacService.currentMainRoute = 'charts'">
        Chart
      </a>
      <a class="nav-link" routerLink="/demo" [ngClass]="{'active': pcacService.currentMainRoute === 'demo'}" (click)="pcacService.currentMainRoute = 'demo'">
        Demo
      </a>
    </div>
    <div class=" navbar-nav my-2 my-lg-0">
      <a class="nav-link clearfix" href="https://github.com/PioneerCode/pioneer-angular-charts">
        <i class="fa fa-github"></i>
        GitHub
      </a>
    </div>
  </div>
</nav>
