<section class="charts-content">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="pc-chart-container">
          <pcac-bar-horizontal-chart [config]="pcService.barHorizontalChartGroupConfig" (barClicked)="pcService.onClicked($event)"></pcac-bar-horizontal-chart>
        </div>
      </div>
    </div>
  </div>
</section>
<pcac-pagination (perPageChanged)="onPerPageChanged($event)" (startClicked)="onStartClicked($event)" (leftClicked)="onLeftClicked($event)" (rightClicked)="onRightClicked($event)"
  (endClicked)="onEndClicked($event)" [(config)]="config"></pcac-pagination>
<button class="btn btn-primary" (click)="openDialog()"></button>
<pcac-dialog>
  HI
</pcac-dialog>

{{config|json}}
