@use "../../../../../../pioneer-charts/colors";

:host {
    min-width: 240px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
}

::ng-deep .pcac-navigation-active-link {
    span.mdc-list-item__primary-text {
        // color: #fff !important;
    }
}
.pcac-navigation-active-link {


    background-color: colors.$accent-light;
}