@use "../../../../../pioneer-charts/colors.scss";

footer {
	background-color: colors.$primary;
	color: #fff;

	.polygon {
		fill: #fff;
	}

	.meta-bottom {
		font-size: 12px;
		border-top: 1px solid theme-color-level("primary", 2);

		a {
			&:hover {
				transition: color 0.25s;
			}

			font-weight: bold;
		}
	}
}