<section class="charts-content">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="pc-chart-container">
          <!-- <pcac-header [config]="{'title':'Table'}"></pcac-header>
          <pcac-table [config]="pcService.tableConfig" (deleteClicked)="onDeleteClicked($event)" (editClicked)="onEditClicked($event)">
          </pcac-table>
          <pcac-pagination (perPageChanged)="onPerPageChanged($event)" (startClicked)="onStartClicked($event)"
            (leftClicked)="onLeftClicked($event)" (rightClicked)="onRightClicked($event)" (endClicked)="onEndClicked($event)"
            [(config)]="config"></pcac-pagination>
          <pcac-spinner [showSpinner]="true" [showOverlay]="false"></pcac-spinner> -->
        </div>
      </div>
    </div>
    <!-- <button class="btn btn-primary" (click)="openDialog()">Click Me!</button> -->
    <!-- <pcac-dialog (closed)="onClosed()" (opened)="onOpened()">Hello!</pcac-dialog> -->
  </div>
</section>
