<pc-public-layout>
  <header>
    <h1 class="display-4">Pioneer Charts</h1>
    <p class="lead">Data Visualizations in Angular, beautiful & simple.</p>
    <button type="button" class="btn btn-outline-light" routerLink="/docs/guides/introduction" (click)="pcacService.currentMainRoute = 'get-started'">Get Started</button>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
      <polygon fill="white" points="0,100 100,0 100,100" />
    </svg>
  </header>
  <section class="stories">
    <div class="story pc-border">
      <div class="container">
        <div class="row bullets">
          <div class="col-sm">
            <section class="bullet">
              <i class="fa fa-bar-chart" aria-hidden="true"></i>
              <h3>Beautiful Charts</h3>
              <p>Data Visualizations don't need to be ugly. Pioneer Charts comes with a beautiful default theme of which is
                customizable to suit your needs.</p>
            </section>
          </div>
          <div class="col-sm">
            <section class="bullet">
              <i class="fa fa-github-alt" aria-hidden="true"></i>
              <h3>Open Source</h3>
              <p>Pioneer Charts is developed and maintained in the
                <a href="https://github.com/PioneerCode/pioneer-charts" title="Pioneer Charts Github">open</a>. Have a feature request or found a bug? Contributions are welcome!</p>
            </section>
          </div>
          <div class="col-sm">
            <section class="bullet">
              <i class="fa fa-code" aria-hidden="true"></i>
              <h3>Battle Tested Code</h3>
              <p>Pioneer Charts is built on top of
                <a href="angular.io" title="Angular">Angular</a> and backed by
                <a href="https://d3js.org/" title="D3">D3</a>. Of which produces performant and consistent rendering across modern browser.</p>
            </section>
          </div>
        </div>
      </div>
    </div>
    <div class="story pc-border">
      <div class="container">
        <div class="row">
          <div class="col-sm"></div>
          <div class="col-sm">
            <h5>Easy To Use</h5>
            <p>Adaptogen drinking vinegar tote bag butcher, pitchfork everyday carry put a bird on it slow-carb iceland bushwick.
              Chartreuse umami four loko health goth direct trade. Mlkshk pabst drinking vinegar bitters iPhone kombucha.
              Flexitarian 8-bit banjo trust fund. Wolf tattooed dreamcatcher whatever.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="story">
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <h5>Easy To Use</h5>
            <p>Adaptogen drinking vinegar tote bag butcher, pitchfork everyday carry put a bird on it slow-carb iceland bushwick.
              Chartreuse umami four loko health goth direct trade. Mlkshk pabst drinking vinegar bitters iPhone kombucha.
              Flexitarian 8-bit banjo trust fund. Wolf tattooed dreamcatcher whatever.</p>
          </div>
          <div class="col-sm">

          </div>
        </div>
      </div>
    </div>
  </section>
</pc-public-layout>
