<header>
  <div class="row flex-xl-nowrap no-gutters">
    <div class="col-12 col-md-3 col-xl-2">
      <div class="pc-header-brand">
        <b>PIONEER CHARTS</b>
      </div>
    </div>
    <div class="col-12 col-md-9 col-xl-10">
      <div class="pc-header-content float-right">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link clearfix" href="https://github.com/PioneerCode/pioneer-angular-charts">
              <div class="float-left">
                <i class="fa fa-github fa-2x"></i>
              </div>
              <div class="float-left">
                <span>GitHub</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<div class="row flex-xl-nowrap no-gutters">
  <nav class="col-12 col-md-3 col-xl-2">
    <div class="list-group">
      <a routerLink="/home" class="list-group-item list-group-item-action" [ngClass]="{'active': currentRoute === 'home'}" (click)="currentRoute = 'home'">
        <i class="fa fa-home"></i>
        Home
      </a>
      <a routerLink="/get-started" class="list-group-item list-group-item-action" [ngClass]="{'active': currentRoute === 'get-started'}"
        (click)="currentRoute = 'get-started'">
        <i class="fa fa-play"></i>
        Get Started
      </a>
      <a routerLink="/bar-chart" class="list-group-item list-group-item-action" [ngClass]="{'active': currentRoute === 'bar-chart'}"
        (click)="currentRoute = 'bar-chart'">
        <i class="fa fa-bar-chart"></i>
        Bar Chart
      </a>
      <a routerLink="/line-area-chart" class="list-group-item list-group-item-action" [ngClass]="{'active': currentRoute === 'line-area-chart'}"
        (click)="currentRoute = 'line-area-chart'">
        <i class="fa fa-line-chart"></i>
        Line Area Chart
      </a>
      <a routerLink="/table" class="list-group-item list-group-item-action" [ngClass]="{'active': currentRoute === 'table'}" (click)="currentRoute = 'table'">
        <i class="fa fa-table"></i>
        Table
      </a>
      <a routerLink="/header" class="list-group-item list-group-item-action" [ngClass]="{'active': currentRoute === 'header'}"
        (click)="currentRoute = 'header'">
        <i class="fa fa-header"></i>
        Header
      </a>
    </div>
  </nav>
  <main class="col-12 col-md-9 col-xl-10">
    <section class="pc-main-content">
      <router-outlet></router-outlet>
    </section>
  </main>
</div>
<footer>
  <div class="meta-top">
    <h5>
      Pioneer Code *
    </h5>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a href="https://github.com/PioneerCode/pioneer-angular-charts" class="nav-link">
          <i class="fa fa-github fa-2x"></i>
        </a>
      </li>
      <li class="nav-item">
        <a href="https://twitter.com/chad_ramos" class="nav-link">
          <i class="fa fa-twitter fa-2x"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="meta-bottom clearfix">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm">
          <p class="float-left">
            Version: {{version}}
          </p>
          <p class="float-right">
            Develop by
            <a href="https://twitter.com/" alt="Chad Ramos">Chad Ramos</a> @
            <a href="https://pioneercode.com" alt="Pioneer Code">Pioneer Code</a> ©2018. Code and Docs licensed under an
            <a href="https://github.com/PioneerCode/pioneer-angular-charts/blob/master/LICENSE" alt="Pioneer Charts License">MIT-style License</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
