<div class="row flex-xl-nowrap no-gutters">
  <div class="col-12 col-md-3 col-xl-2">
    <nav>
      <div class="list-group">
        <a routerLink="/components/charts/bar-chart" class="list-group-item list-group-item-action" [ngClass]="{'active': pcacService.currentChartRoute === 'bar-chart'}"
          (click)="pcacService.currentChartRoute = 'bar-chart'">
          <i class="fa fa-bar-chart"></i>
          Bar Chart
        </a>
        <a routerLink="/components/charts/line-area-chart" class="list-group-item list-group-item-action" [ngClass]="{'active': pcacService.currentChartRoute === 'line-area-chart'}"
          (click)="pcacService.currentChartRoute = 'line-area-chart'">
          <i class="fa fa-line-chart"></i>
          Line Area Chart
        </a>
        <a routerLink="/components/charts/table" class="list-group-item list-group-item-action" [ngClass]="{'active': pcacService.currentChartRoute === 'table'}"
          (click)="pcacService.currentChartRoute = 'table'">
          <i class="fa fa-table"></i>
          Table
        </a>
        <a routerLink="/components/ui/header" class="list-group-item list-group-item-action" [ngClass]="{'active': pcacService.currentChartRoute === 'header'}"
          (click)="pcacService.currentChartRoute = 'header'">
          <i class="fa fa-header"></i>
          Header
        </a>
      </div>
    </nav>
  </div>
  <main class="col-12 col-md-9 col-xl-10">
    <section class="pc-main-content">
      <ng-content></ng-content>
    </section>
  </main>
</div>
