<nav>
  <div class="list-group">
    <a routerLink="/bar-chart" class="list-group-item list-group-item-action" [ngClass]="{'active': currentRoute === 'bar-chart'}"
      (click)="currentRoute = 'bar-chart'">
      <i class="fa fa-bar-chart"></i>
      Bar Chart
    </a>
    <a routerLink="/line-area-chart" class="list-group-item list-group-item-action" [ngClass]="{'active': currentRoute === 'line-area-chart'}"
      (click)="currentRoute = 'line-area-chart'">
      <i class="fa fa-line-chart"></i>
      Line Area Chart
    </a>
    <a routerLink="/table" class="list-group-item list-group-item-action" [ngClass]="{'active': currentRoute === 'table'}" (click)="currentRoute = 'table'">
      <i class="fa fa-table"></i>
      Table
    </a>
    <a routerLink="/header" class="list-group-item list-group-item-action" [ngClass]="{'active': currentRoute === 'header'}"
      (click)="currentRoute = 'header'">
      <i class="fa fa-header"></i>
      Header
    </a>
  </div>
</nav>
