<div class="container">
  <div class="row pc-row">
    <div class="col-sm">
      <div class="pc-chart-container">
        <pcac-header [config]="pcacService.barVerticalChartConfig?.headerConfig"></pcac-header>
        <pcac-bar-vertical-chart [config]="pcacService.barVerticalChartConfig"></pcac-bar-vertical-chart>
      </div>
    </div>
    <div class="col-sm">
      <div class="pc-chart-container">
        <pcac-header [config]="pcacService.barHorizontalChartConfig?.headerConfig"></pcac-header>
        <pcac-bar-horizontal-chart [config]="pcacService.barHorizontalChartConfig"></pcac-bar-horizontal-chart>
      </div>
    </div>
  </div>
  <div class="row pc-row">
    <div class="col-sm">
      <div class="pc-chart-container">
        <pcac-header [config]="pcacService.lineChartConfig?.headerConfig"></pcac-header>
        <pcac-line-area-chart [config]="pcacService.lineChartConfig"></pcac-line-area-chart>
      </div>
    </div>
    <div class="col-sm">
      <div class="pc-chart-container">
        <pcac-header [config]="pcacService.areaChartConfig?.headerConfig"></pcac-header>
        <pcac-line-area-chart [config]="pcacService.areaChartConfig"></pcac-line-area-chart>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="pc-chart-container">
        <pcac-header [config]="pcacService.tableConfig?.headerConfig"></pcac-header>
        <pcac-table [config]="pcacService.tableConfig"></pcac-table>
      </div>
    </div>
  </div>
</div>
