<section class="container-fluid pc-doc-content">
  <div class="row flex-xl-nowrap">
    <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
      <nav>
        <div class="pc-group">
          <a class="pc-group-heading">Introduction</a>
        </div>
        <div class="pc-group">
          <a class="pc-group-heading">Getting Started</a>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">Content</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Theme</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">IPCacData</a>
            </li>
          </ul>
        </div>
        <div class="pc-group">
          <a class="pc-group-heading">Charts</a>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a routerLink="/docs/components/charts/bar-chart" class="nav-link" [ngClass]="{'active': pcService.currentChartRoute === 'bar-chart'}"
                (click)="pcService.currentChartRoute = 'bar-chart'">
                Bar Chart
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/docs/components/charts/line-area-chart" class="nav-link" [ngClass]="{'active': pcService.currentChartRoute === 'line-area-chart'}"
                (click)="pcService.currentChartRoute = 'line-area-chart'">
                Line Area Chart
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/docs/components/charts/pie-chart" class="nav-link" [ngClass]="{'active': pcService.currentChartRoute === 'pie-chart'}"
                (click)="pcService.currentChartRoute = 'pie-chart'">
                Pie Chart
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/docs/components/charts/table" class="nav-link" [ngClass]="{'active': pcService.currentChartRoute === 'table'}" (click)="pcService.currentChartRoute = 'table'">
                Table
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
      <ng-content></ng-content>
    </main>
    <div class="d-none d-xl-block col-xl-2 bd-toc">5</div>
  </div>
</section>
