@import "../../../imports";
.pc-doc-container {
    // background: gray("200");
}

.pc-doc-sidebar {
    border-right: 1px gray("200") solid;
}

.pc-doc-jump-nav {
    border-left: 1px gray("200") solid;
}

.pc-group {}

.pc-group-heading {
    padding: 0.5rem 1rem;
}
