@import 'imports';
@import '../../../libs/pcac/pcac';

.pc-chart-container {
    padding: 1rem;
    background: color("white");
    box-shadow: 0.25rem 0.25rem 0.5rem gray("200");
    border: 1px solid gray("200");
}

.pc-page-content {
    background: gray("200");
    padding: 2rem 2rem;
}

