<section class=" pc-doc-jump-nav">
  <ul class="nav flex-column">
    <li class="nav-item" *ngFor="let jump of jumpNav">
      <a [routerLink]="currentRoute" fragment="{{jump.value}}">{{jump.key}}</a>
      <!-- <a (click)="onJumpClick(jump.value)">{{jump.key}}</a> -->
      <ng-container *ngIf="jump.jump">
        <ul class="nav flex-column">
          <li class="nav-item" *ngFor="let jumper of jump.jump">
            <a [routerLink]="currentRoute" fragment="{{jumper.value}}">{{jumper.key}}</a>
            <!-- <a (click)="onJumpClick(jumper.value)">{{jumper.key}}</a> -->
          </li>
        </ul>
      </ng-container>
    </li>
  </ul>
</section>
